html, body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
    overflow: hidden;
}

/* Navbar Styles */

nav {
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    z-index: 10;
    transition: opacity 0.3s;
}

nav .logo-container img {
    height: 40px;
    transition: height 0.3s;
}

/* Email Form Styles */

.container {
    text-align: center;
    position: relative;
    width: 100%;
    max-width: 100%;
    padding: 0 30px;
    box-sizing: border-box;
}

#email-form {
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}

input[type="email"] {
    padding: 10px;
    font-size: 16px;
    width: 100%;
    max-width: 250px;
    margin-right: 10px;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: black; 
    color: white; 
    border: 1px solid white; 
    border-radius: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #673CAF;
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
    border-radius: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

#status {
    position: absolute;
    width: 100%;
    left: 0;
    margin-top: 5px;
    font-weight: bold;
    color: white;
}

.button-text {
    display: inline;
}

.button-arrow {
    display: none;
}

@media (max-width: 480px) {
    .button-text {
        display: none;
    }
    .button-arrow {
        display: inline;
    }
    button {
        padding: 10px 15px;
    }
}

